@charset "utf-8";

// If need, change your variables before importing Bulma
$body-family: sans-serif, Futura, Didact Gothic, Century Gothic, Helvetica Nenu,
  Arial;

/* @import "~bulma/bulma.sass"; */

main .box:hover {
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  cursor: pointer;
}
