@charset "utf-8";

// If need, change your variables before importing Bulma
$body-family: sans-serif, Futura, Didact Gothic, Century Gothic, Helvetica Nenu,
  Arial;

html {
  background-color: peachpuff;
}
a {
  color: rebeccapurple;
}

.tags .tag {
  margin-right: 1rem;
}

a.github {
  box-shadow: none;
  img {
    width: 1.5rem;
    vertical-align: middle;
    margin-bottom: 0;
    transition: all 0.5s;
  }

  img:hover {
    transform: scale(1.5);
  }
}

footer {
  margin-top: 2rem;
}

ol {
  margin-left: 2rem;
}


.css-toc {
  // color: $titleColor;
  padding: 15px;
  // background: #fcfaf2;
  margin-bottom: 25px;
  > ul {
    padding-left: 16px;
  }
  ul {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: 0;
    p {
      vertical-align: top;
      display: inline-block;
    }
  }
  li {
    margin-bottom: 0;
  }
  li > p {
    margin-bottom: 0;
  }
  li > ul {
    margin-top: 0;
  }
}

@media screen and (min-width: 1045px) {
  .css-toc {
    position: fixed;
    bottom: 0;
    right: 1rem;;
    width: 250px;
    max-height: 800px;
    overflow: scroll;
    font-size: 14px;
    li > ul {
      margin-left: 1rem;
    }
  }
}
