@charset "utf-8";

// If need, change your variables before importing Bulma
$body-family: sans-serif, Futura, Didact Gothic, Century Gothic, Helvetica Nenu,
  Arial;

html {
  background-color: peachpuff;
}
a {
  color: rebeccapurple;
}

.tags .tag {
  margin-right: 1rem;
}

a.github {
  box-shadow: none;
  img {
    width: 1.5rem;
    vertical-align: middle;
    margin-bottom: 0;
    transition: all 0.5s;
  }

  img:hover {
    transform: scale(1.5);
  }
}

footer {
  margin-top: 2rem;
}
